.navigation div{
    position: fixed;
    display: flex;
    flex-direction: column;
    padding:30px;
}
.navigation div nav{
    display: flex;
    flex-direction: column;
}
.navigation div nav svg{   
    color:rgb(0, 140, 255);
    transition: 
    color 0.2s linear;
}
.navigation div nav li a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black
}
@media(max-width:900px){
    .navigation div nav p{
        transform: translateX(-100px);
        display: none;
    }
    .navigation div button{
        width:50px
    }
    .navigation{
        min-width:100px
    }
}