aside{
    padding:20px;
    width:350px;
    height: 100%;
}
.trend{
    background-color: rgb(245, 248, 250);
    border-radius: 20px;
    height:430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trend a{
    margin:10px
}

.trend ul li span{
    font-size: 0.8em;
}
@media(max-width:900px){
    aside{
        display: none;
    }
}